body {
    background: Ivory;
    font-family: Verdana, Geneva, sans-serif;
    color: sienna;
    }

    div{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } 

    h1 {
      font-size: 50px;
      font-size: 10vmin;
      font-size: 5vmax;
    }