<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
    background: Ivory;
    font-family: Verdana, Geneva, sans-serif;
    color: sienna;
    }
    div{
      position: fixed;
    }
    h1 {
      font-size: 50px;
      font-size: 10vmin;
      font-size: 5vmax;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hundreds and hundreds of dad jokes and puns - one at a time">
  <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
  <link rel="canonical" href="http://jokes.hafur.com/">
  <title>One Pun at a Time</title>
</head>
<body>
  <div>
    {% for item in html_page_text['items'] %}
     <p>{{ item['joke']}}</p>
    {% endfor %}
    <p>
      <a href=" {{ url_for ('offset', offset=prevoffset)  }} ">previous</a>
      <a href="http://jokes.hafur.com">home</a>
      <a href=" {{ url_for ('offset', offset=nextoffset)  }} ">next</a>
    </p>
  </div>
  <div>
  </div>
</body>
</html>
