<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/css/main.css' />
  <meta name="description" content="Hundreds and hundreds of dad jokes and puns - one at a time">
  <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
  <link rel="canonical" href="http://jokes.hafur.com/">
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta property="og:title" content="One Pun at a Time">
  <meta property="og:description" content="Hundreds and hundreds of dad jokes and puns - one at a time">
  <meta property="og:url" content="http://jokes.hafur.com/">
  <meta property="og:site_name" content="One Pun at a Time">
  <meta property="og:updated_time" content="2022-12-13T13:45:22+00:00">
  <title>One Pun at a Time</title>
</head>
<body>
  <div>
        <h1>{{ joke }}</h1>
  </div>
</body>
</html>
