<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
    background: Ivory;
    font-family: Verdana, Geneva, sans-serif;
    color: sienna;
    }
    div{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h1 {
      font-size: 50px;
      font-size: 10vmin;
      font-size: 5vmax;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hundreds and hundreds of dad jokes and puns - one at a time">
  <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
  <link rel="canonical" href="http://jokes.hafur.com/">
  <title>One Pun at a Time</title>
</head>
<body>
  <div>
        <h1>{{ joke }}</h1>
  </div>
</body>
</html>
